<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
    <div class="container" style="min-height: 320px;">
        <div class="row align-items-start">
            <div class="col-md-8">
               
               </div>
            <div class="col-md-4">
                <img src="../assets/img/Canvassing.png" class="img-fluid" alt="Canvassing photo" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>
