<section class="page-section" id="{{ site.data.sitetext[site.locale].activism.section | default: "activism" }}">
    <div class="container">
	 <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].activism.title | markdownify | default: "Activism" }}</h2>

      </div>
  
	<div class="row">

		<p>    I do not see research and scholarship as separate from organizing and activism. The interplay between these two identities–activist and scholar–are constantly interwoven through a spirit of resistance toward liberatory praxis. My social identities inevitably shape the scholarship I am drawn to, often those that critique power, inequality, and hegemonic structures. In this sense, my positionality is not simply a backdrop to research but an active force that shapes the questions I ask, the relationships I build, and the interpretations I construct. My social identities and positionalities shape not only who I am, but also how I engage with knowledge, research, and the communities with whom I work.</p>

    <p>I recognize that the positionality of my research is a form of political activism when carried out within the hegemonic institutions of the imperialist Global North. Moreover, because my public activism on Palestine has been weaponized by political actors through smear campaigns and misrepresentations of my identity, I recognize that my positioning is likely to materialize in structural constraints and institutional gatekeeping, whether through barriers to securing research funding, obtaining the endorsement of faculty advisors and committee members, or accessing stable employment that would allow the continuation of this work.</p>

    <p>If you are interested in learning more about how I experience the world, I occassionally share my thoughts on Substack, which you can access by clicking the button below.</p>
  
		<div class="text-center mt-4">
  <button
    class="btn btn-primary btn-xl align-items-center"
    data-toggle="modal"
    data-target="#activismModal"
    type="button"
  >
    Substack
  </button>
</div>
</section>
{% endif %}
{% include modals.html %}
