<!-- Derron Section -->
<section class="bg-light page-section" id="derron">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left: Image -->
      <div class="col-md-4 text-center">
        <img src="{{ '/assets/img/derron.png' | relative_url }}" alt="Derron" class="img-responsive img-circle" style="max-width: 250px; margin: auto;">
      </div>

      <!-- Right: Text and Social -->
      <div class="col-md-8 text-center text-md-left">
        <ul class="list-inline d-flex flex-wrap justify-content-center mb-3 lead" style="font-size: 1.25rem; margin-top: 20px;">
          <li class="list-inline-item">PhD Student |</li>
          <li class="list-inline-item">Educator |</li>
          <li class="list-inline-item">Organizer |</li>
		<br>
          <li class="list-inline-item">Marxist |</li>
          <li class="list-inline-item">Researcher |</li>
          <li class="list-inline-item">Linguist |</li>
          <li class="list-inline-item">Vegan |</li>
        </ul>

        <!-- Social Media Buttons (copied from footer) -->
       
        <ul class="list-inline social-buttons d-flex justify-content-center">
          {% for link in site.data.sitetext[site.locale].footer.social %}
          <li class="list-inline-item">
            {% if link.url %}
            <a href="{{ link.url }}"  
				       target="_blank"
   				     rel="noopener noreferrer">
              {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
