<!-- _includes/modals.html -->

<!-- Portfolio Modals -->
{% for project in site.portfolio %}
  {% if site.locale and site.locale != "" and site.locale != nil %}
  <div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr"><div class="rl"></div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">{{ project.title }}</h2>
                <p class="item-intro text-muted">{{ project.subtitle }}</p>
                <p>{{ project.content }}</p>
                 <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
                >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Window" }}
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr"><div class="rl"></div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">{{ project.title }}</h2>
                <p class="item-intro text-muted">{{ project.subtitle }}</p>
                <p>{{ project.content }}</p>
                 <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
                >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Window" }}
              </button>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
<!-- End Portfolio Modals -->








<!-- Dialectical Praxis Modal -->
<div class="portfolio-modal modal fade" id="dialecticalPraxisModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr"><div class="rl"></div></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              {% if site.locale and site.locale != "" and site.locale != nil %}
                <h2 class="text-uppercase">{{ site.data.sitetext[site.locale].about.button.text }}</h2>
                <div class="modal-text">
                  {{ site.data.sitetext[site.locale].about.button.modal_content | markdownify }}
                </div>
              {% else %}
                <h2 class="text-uppercase">{{ site.data.sitetext.about.button.text }}</h2>
                <div class="modal-text">
                  {{ site.data.sitetext.about.button.modal_content | markdownify }}
                </div>
              {% endif %}
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Education/Philosophy Modal -->
<div class="portfolio-modal modal fade" id="educationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr"><div class="rl"></div></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              {% if site.locale and site.locale != "" and site.locale != nil %}
                <h2 class="text-uppercase">{{ site.data.sitetext[site.locale].education.button.text }}</h2>
                <div class="modal-text">
                  {{ site.data.sitetext[site.locale].education.button.modal_content | markdownify }}
                </div>
              {% else %}
                <h2 class="text-uppercase">{{ site.data.sitetext.education.button.text }}</h2>
                <div class="modal-text">
                  {{ site.data.sitetext.education.button.modal_content | markdownify }}
                </div>
              {% endif %}
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Education/Philosophy Modal -->
<div class="portfolio-modal modal fade" id="scholarshipModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr"><div class="rl"></div></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              {% if site.locale and site.locale != "" and site.locale != nil %}
                <h2 class="text-uppercase">{{ site.data.sitetext[site.locale].scholarship.button.text }}</h2>
                <div class="modal-text">
                  {{ site.data.sitetext[site.locale].scholarship.button.modal_content | markdownify }}
                </div>
              {% else %}
                <h2 class="text-uppercase">{{ site.data.sitetext.scholarship.button.text }}</h2>
                <div class="modal-text">
                  {{ site.data.sitetext.scholarship.button.modal_content | markdownify }}
                </div>
              {% endif %}
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
