---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Form, Input, Button, Textarea, Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<DefaultLayout title="Contact">
  <PageHeader
    title="Contact"
    subtitle=""
    bgType="gradient"
  />
  <section class="container my-16">
    <div class="grid grid-cols-1 gap-16 md:grid-cols-2">
      <div class="space-content">
        <Heading level="h2">Send a message</Heading>
        <Form name="contact" action="/thank-you" method="post">
          <Input name="name" label="Name" required autocomplete="name" />
          <Input name="email" label="Email address" type="email" required autocomplete="email" />
          <Textarea name="message" label="Message" required />
          <Button htmlType="submit" type="primary">Send message</Button>
        </Form>
      </div>
      
    </div>
  </section>
</DefaultLayout>
