---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Link } from 'accessible-astro-components'
---

<DefaultLayout title="Education Projects">
  <section class="my-12">
    <PageHeader
      title="Education Projects"
      subtitle=""
      bgType="bordered"
    />
  </section>
