// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 10px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}

// Add border to first section
.page-section:first-of-type {
  border-top: 1px solid $primary;
  
}

// Alternating section backgrounds
.page-section:nth-of-type(odd) {
  background-color: #f6f5f3;
  border-top: 1px solid $primary;
}

.page-section:nth-of-type(even) {
  background-color: #efeeec;
  border-top: 1px solid $primary;
}

// Override for sections with bg-light class
.page-section.bg-light {
  background-color: #f6f5f3 !important;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  color: #fdfdfa;
  text-shadow: none;
}

::selection {
  background: $primary;
  color: #fdfdfa;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
